/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.profile-info {
    margin-bottom: 20px;
}

.profile-info p {
    margin: 10px 0;
}

.profile-info strong {
    font-weight: bold;
}

.status {
    color: #007bff;
    font-weight: bold;
}

.error-msg {
    color: red;
    font-weight: bold;
}

.password-section,
.edit-section {
    display: none;
    margin-top: 10px;
}

.password-section form p,
.edit-section form p {
    margin: 10px 0;
}

.password-section label,
.edit-section label {
    display: block;
    margin-bottom: 5px;
}

.password-section input,
.edit-section input {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

.edit-btn {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.edit-btn:hover {
    background-color: #0056b3;
}
